/**
 * Global styles for the entire project.
 * This file sets up base styles for html, body, and other global elements.
 */

html {
  // Set base font-size to 62.5% to make 1rem = 10px for easier calculations.
  // 10px / 16px (browser default) = 62.5%
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family-base);
  font-size: 1.6rem; // Sets default font size to 16px
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
